/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 30%;
  border: 1px solid red;
}

.large-text {
  font-size: 2rem;
  padding: 1rem;
  /* line-height: 0; */
}

/* .large-text span {
  line-height: 1;
} */
